@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&family=Noto+Sans&family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

ul{
    list-style-type: none;
    padding-right: 180px;
}
#navbar li{
    display: inline;
    text-align: center;
    margin-left: 24px;
    color: white;
}

#navbar{
    box-sizing: border-box;
    display: block;
    text-align: right;
    background-color: rgb(45, 45, 160);
    padding: 14px;
}

#box1{
    display: flex;
    justify-content: space-evenly;
    flex-wrap:wrap;
}

#box1 h1,p{
    display: inline;
    color:rgb(45, 45, 160);
}

#subbox1{
    padding-top: 22px;
}

#subbox2{
    padding-top: 36px;
}
#subbox2 button{
    border: none;
    font-weight: bolder;
    height: 20px;
    cursor: pointer;
}

#subbox2 input{
    background-color: rgb(208, 208, 252);
    border: 1px solid grey;
    height: 20px;
    width: 200px;
}
#box1 #subbox1,#subbox2{
    display: inline;
}

#navbar2 li{
    display: inline;
    text-align: center;
    margin-left: 24px;
    color: white;
}

#navbar2{
    box-sizing: border-box;
    display: block;
    text-align: right;
    background-color: rgb(45, 45, 160);
    padding: 14px;
    margin-top: 40px;
}

#table1{
    box-sizing: border-box;
    border: 1px solid black;
    width: 220px;
    /* margin-left: 320px; */
    margin-top: 12px;
    background-color: rgb(226, 226, 248);
}
#table1 h6,h5{
    padding-bottom: 6px;
    padding-left: 8px;
}
#table1 h5{
    background-color: rgb(45, 45, 160);;
    height: 24px;
    color: white;
}

#parent_table{
    display: flex;
    justify-content: space-evenly;
    flex-wrap:wrap;
}